@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle w-75">
    <div class="row">
        <div class="col ms-5 my-auto">
            <h1 class="display-4 fw-bold font-monospace">Hi,</h1>
            <h1 class="display-4 fw-bold font-monospace">I'm <b class="text-primary font-monospace">Adrian</b></h1>
            <h1 class="display-4 fw-bold font-monospace">Developer</h1>
        </div>
        <div class="col d-flex justify-content-center my-auto">
            <img src="~/img/avatar.png" class="w-50" />
        </div>
    </div>
    <div class="row">
        <div class="mt-5 ms-5 mb-2">
            <a href="https://www.reddit.com/r/wallagram/" target="_blank" class="me-5 text-decoration-none">
                <img src="~/img/Logos/github.png" style="max-width: 4vw; min-width: 48px;" />
            </a>
            <a href="https://www.reddit.com/r/wallagram/" target="_blank">
                <img src="~/img/Logos/linkedin.png" style="max-width: 4vw; min-width: 48px;"/>
            </a>
        </div>
    </div>
</div>