<div class="tab-pane fade active show" id="panel1" role="tabpanel">
    <div class="py-5">
        <div>
            <h1 class="font-monospace text-center mb-5">Sprint 1</h1>
        </div>

        <div class="mb-5">
            <h2 class="font-monospace text-decoration-underline">Key Tasks</h2>
            <ul>
                <li>Team Forming</li>
                <li>Brainstorming project ideas</li>
                <li>Presenting to panel</li>
                <li>More brainstorming</li>
                <li>Presenting to panel 2</li>
                <li>Starting Sprint One</li>
                <li>Starting prototype</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">Brainstorming</h2>
            <p>Throughout the week we began brainstorming project ideas. We came up with a few but didn't really flesh any of them out.</p>

            <h4 class="text-secondary">Ideas:</h4>
            <ul>
                <li>Strength tracking and prediction.</li>
                <li>Fire Hydrant locator.</li>
                <li>Household stock management.</li>
                <li>Appointment booking.</li>
            </ul>
            <p>
                We mainly focused on the Strength tacking and Fire hydrant locator as they had a larger scope and were more useful / doable. We began fleshing out the two ideas.
            </p>

            <h5>Strength tracking and prediction</h5>
            <ul>
                <li>User inputs their workout once they have finished.</li>
                <li>Can display a graph of the progress over a time period chosen of the exercise they pick.</li>
                <li>Using machine learning, use the previous workouts, current calorie intake and other variables to predict where the user will be, strength wise in the future months or years.</li>
            </ul>

            <h5>Fire hydrant locator</h5>
            <ul>
                <li>Have a map of all fire hydrants in a location.</li>
                <li>Distinguish between active and offline hydrants.</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">Presenting To A Panel</h2>
            <p>In class we presented our ideas to a panel of lectures, Frank, Kevin and Niall. From this we received suggestions on where to take the ideas. </p>

            <h4 class="text-secondary">Strength Idea Suggestions</h4>
            <ul>
                <li>To make the idea more exciting, expand on features such as to make use of a group of Xbox Kinects to track a users form on each lift.</li>
                <li>Aim the idea towards injury recovery.</li>
            </ul>

            <h4 class="text-secondary">Fire Hydrant Idea Thoughts</h4>
            <ul>
                <li>Generate the closest route from the incident to an active hydrant.</li>
                <li>Predict if two hydrants are needed, if so find the shortest distance between the hydrants for the truck to park while being close to the scene.</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">More Brainstorming</h2>
            <p>After speaking to the lectures, Nick came up with a new project idea of a method for shops to give out receipts virtually and our app would store them for the users.</p>

            <h4 class="text-secondary">Virtual Receipt</h4>
            <ul>
                <li>A shop will send the customer their virtual receipt by the customer scanning a NFC tag.</li>
                <li>Allows the user to search by a certain type of product to help sort the receipts.</li>
                <li>Allows the user to export the receipts to a file with a selected format.</li>
                <li>This is environmentally friendly by cutting back on paper.</li>
                <li>Saves the shop money each year.</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">Presenting To A Panel 2</h2>
            <p>In class we presented our new receipt idea to a panel of lectures, Frank, Kevin and Niall. From this we received suggestions on where to take the ideas. </p>

            <h4 class="text-secondary">Virtual Receipt</h4>
            <ul>
                <li>Add a hash to the process to make the data transfer secure.</li>
                <li>Add a folder system to allow easier access to certain receipts.</li>
                <li>Main target would be a business man keeping receipts after a trip, or someone claiming on special diet foods.</li>
                <li>Nick suggested an OCR (Optical Character Reader) to make virtual copies of old receipts that still have valid warranties on them.</li>
            </ul>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">Starting Sprint One</h2>
            <p>
                After panel two, we asked Gerry when the sprints were beginning and he informed us that it was already active and we missed sprint zero.
                Sprint zero was only one week long so we started sprint one right away.
            </p>
            <p>
                A problem with this was that we found this out late on Friday evening and Sean, our Scrum Master, was going to away all weekend and the sprint was supposed to start late Thursday night.

                <br />

                We started thinking about what work could be done in the next two weeks. Sean assigned a few tasks to each member but Aoife took over the position of Scrum Master for the weekend. She message each member asking what tasks they could add to the sprint and for an estimated time for completion.

                <br />

                Later that night, Aoife started the sprint.
            </p>
        </div>

        <div class="mb-5">
            <h2 class="text-primary font-monospace text-decoration-underline">Starting The Prototype</h2>
            <p>Using Adobe XD, I began designing the first version of the app. This helped to reveal problems we might encounter.</p>

            <h4 class="text-secondary">Pages Created:</h4>
            <ul>
                <li>Recent transactions page that shows a list of all receipts sorted by newest and date. There are month tabs at the top of the page to allow for quick selection between time. There is a limit of 10 receipts per page, to not crowd the user with information. Each item in the list is a receipt and the size increases with the size of the purchase allowing more valuable items to be found easier.</li>
                <li>Receipt page showing all the important information of a single receipt.</li>
                <li>Search by date page allowing you to group all the receipts in a certain time frame.</li>
                <li>Search by tag page allowing you to find all receipts containing certain strings.</li>
                <li>Export options pop up, asking what format to save the receipts as.</li>
            </ul>
        </div>
    </div>
</div>