@{
    ViewData["Title"] = "Duhknow Project Page";
}

<div class="container-fluid">
    <div class="row min-vh-100 justify-content-center">
        <div class="col my-auto d-flex">
            <div class="justify-content-center mx-auto">
                <h1 class="display-4">Duhknow</h1>
            </div>
        </div>
    </div>
</div>
